*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins' ,sans-serif;
}
body{
    color: #ededed;
    background: #F2E2D8;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1A1A1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #f82222;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(home.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #F8BF22;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-scl a{
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #F8BF22;
    border-radius: 50%;
    font-size: 20px;
    color: #F8BF22;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-scl a:hover{
    background: #F8BF22;
    color:#081b29;
    box-shadow: 0 0 20px #F8BF22;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #F8BF22;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #F8BF22,
    0 0 25px #F8BF22
}
.btn-box:hover{
    box-shadow: 0 0 5px #F8BF22,
    0 0 25px #F8BF22, 0 0 50px #F8BF22,
    0 0 100px #F8BF22, 0 0 200px #F8BF22
}
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 90px;
}
.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2 {
    font-size: 60px;
}
.about-text h2{
    color: #1A1A1A;
}
.about-text h2 span {
    color: rgb(145, 2, 2);
}
.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #153048;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: #1A1A1A;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.timeline-row h2{
    color: #1A1A1A;


}

.timeline {
    padding: 50px 20px;
  background-color: #F2E2D8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.timeline .title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: #111;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35);

}

.timeline .highlight {
    color: #910202;
}

.timeline .subtitle {
    font-family: serif;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: #444;
    margin-bottom: 40px;
}


.timeline-box {
    max-width: 1200px;
    margin: 0 auto;
}


.timeline-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease  box-shadow 0.3s ease;
}

.timeline-content:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.timeline-content .content {
    flex: 1 1 55%;
    padding-right: 20px;
}

.timeline-content .year {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #910202;
}

.timeline-content h3 {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}


.timeline-content img {
    flex: 1 1 40%;
    max-width: 400px;
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 10px;
}
.timeline-content .content {
        padding-right: 0;
    }

    .timeline-content img {
        margin-top: 20px;
        height: auto;
    }

#skills {
  background-color: #F2E2D8;
  padding: 60px 30px;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  color: #1A1A1A;
  margin-bottom: 40px;
  text-shadow: 10px 10px 8px #1A1A1A(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.heading .highlight {
  color: rgb(145, 2, 2); /* Cyan for "Skills" */
  font-weight: 900;
  text-shadow: 4px 4px 6px rgb(145, 2, 2) (0, 0, 0, 0.35);
  text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke;

}

.skill-bar {
  margin-bottom: 40px;
  text-align:left;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.icon-row {
  display: flex;
  justify-content:flex-start;
  
  gap: 15px;
  margin-bottom: 10px;
}

.icon-row i,
.icon-row img {
  font-size: 1.6rem;
  height: 25px;
}

/* Subject label */
.skill-bar span {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(145, 2, 2);
  margin-top: 10px;
  display:block;
}

/* Bar background */
.bar {
  width: 80%;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

/* Bar fill */
.progress {
  height: 100%;
  background-color: #153048; /* Light blue / cyan */
  text-align:right;
  padding-right: 5px;
  font-size: 0.8rem;
  color: yellowgreen;
  
  font-weight: bold;
  line-height: 12px;
  border-radius: 6px;
  transition: fillProgress 2s ease-in-out forwards;
  animation-delay: 0.3s;
}
.main-text{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align:center;
    color: #1A1A1A;

}
.main-text h2 span{
    color:rgb(145, 2, 2);
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius:8px ;
    cursor: pointer;
    
}
.row img{
    width:40%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;

}
.layer {
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  max-width: 700px;
}

.project-number {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px 12px;
  font-size: 20px;
  margin-right: 10px;
  

}

.project-info p {
  margin: 10px 0;
  font-size: 15px;
  line-height: 1.5;
  color: #1A1A1A;
}

.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.tech-stack {
  display: flex;
  gap: 10px;
}

.tech-stack span {
  background-color:grey ;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}



.row:hover img{
    transform:scale(1.1);
}
.row:hover .layer{
    height: 100%;
}






@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }

}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        
    }

}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        
    }
}
@keyframes fillProgress {
  
  to {
    width: var(--width);
  }
}

/* Projects Section*/
.projects {
    text-align: center;
    padding: 50px 14%;
    background-color: #F2E2D8;
}
.projects h1 {
    font-size: 60px;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 40px;
    
    letter-spacing: 2px;
    width: 100%;
}
.projects h1 span{
    color: #910202;
}

/* Project Card */
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.project-card {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding: 35px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}





/* Project Image */
.project-image img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
} 
.project-image img:hover {
    transform: scale(1.05); /* Increases the image size by 5% on hover */
}

/* Project Details */
.project-details {
    text-align: left;
    padding-left: 20px;
}

.project-details h3 {
    font-size: 1.8rem;
    color: #1A1A1A;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 1rem;
    color: #1A1A1A;
    margin-bottom: 8px;
}

/* Tech Stack */
.tech-stack span {
    display: inline-block;
    background: #F2E2D8;
    color: #1A1A1A;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 900px) {
    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .project-image img {
        width: 100%;
    }

    .project-details {
        padding-left: 0;
        padding-top: 15px;
    }
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;

}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #1A1A1A;

}
.contact-text h2 span{
    color: rgb(145, 2, 2);
}
.contact-text h4{
    margin: 15px 0;
    color: #153048;
    font-size: 20px;
    font-weight: 600;

}
.contact-text p{
    color: #1A1A1A;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;


}
.contact-list li{
    margin-bottom: 10px;
    display: block;
   
}
.contact-list a{
    text-decoration: none;
    color:#1A1A1A;
    font-weight: 600;
}
.contact-list i{
    display: inline-block;
    color: #910202;
    font-size: 20px;
    font-weight: 600;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #910202;
    
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #153048;
    border-radius: 50%;
    font-size: 20px;
    color: #153048;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}
.contact-icons i:hover{
    background:#153048;
    color: #ededed;
    box-shadow: 0 0 20px #153048 ;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background:#153048;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;

}
.contact-form form .send{
    display: inline-block;
    padding: 12px 28px;
    background: #153048;
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #153048,
    0 0 25px #153048;


}
.contact-form form .send:hover{
    box-shadow: 0 0 5px #153048,
    0 0 25px #153048,0 0 50px #153048,
    0 0 100px #153048,0 0 200px #153048;
}
.last-text p{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background:#910202;
    font-weight: 300;
    margin-top: 70px;

}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;

}
.top i{
    color:whitesmoke;
    background: #1A1A1A;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}



